Repository reactor/BlockHound, pull requests merged in 2019-08, with the labels that each got.

#35 Add JMH microbenchmarks
  benchmarks/build.gradle
  benchmarks/src/jmh/java/reactor/blockhound/BlockHoundBenchmark.java
  settings.gradle
Labels: area/java-agent, area/native-agent, for/user-attention, type/chore

#45 Use `ThreadLocal` instead of the tags to store the non-blocking marker
  agent/src/main/java/reactor/blockhound/BlockHoundRuntime.java
  benchmarks/build.gradle
  native-agent/src/main/cpp/agent.cpp
Labels: area/java-agent, area/native-agent, type/enhancement

#46 Replace native agent with ThreadLocal-based API
  .ci/azure-pipelines.yml
  .travis.yml
  agent/build.gradle
  agent/src/main/java/reactor/blockhound/ASMClassFileTransformer.java
  agent/src/main/java/reactor/blockhound/AllowAdvice.java
  agent/src/main/java/reactor/blockhound/BlockHound.java
  agent/src/main/java/reactor/blockhound/BlockHoundRuntime.java
  agent/src/main/java/reactor/blockhound/BlockingCallAdvice.java
  agent/src/main/java/reactor/blockhound/BlockingMethod.java
  agent/src/main/java/reactor/blockhound/NativeWrappingClassFileTransformer.java
  example/build.gradle
  native-agent/CMakeLists.txt
  native-agent/build.gradle
  native-agent/src/main/cpp/agent.cpp
  native-agent/src/main/headers/darwin/jni_md.h
  native-agent/src/main/headers/jni.h
  native-agent/src/main/headers/jvmti.h
  native-agent/src/main/headers/linux/jni_md.h
  native-agent/src/main/headers/win32/jni_md.h
  native-agent/toolchain/cmake
  native-agent/toolchain/make
  native-agent/toolchain/run_in_docker.sh
  settings.gradle
Labels: area/java-agent, area/native-agent, area/performance

#47 Comment and clean-up some code
  agent/src/main/java/reactor/blockhound/AllowAdvice.java
  agent/src/main/java/reactor/blockhound/AllowancesByteBuddyTransformer.java
  agent/src/main/java/reactor/blockhound/BlockHound.java
  agent/src/main/java/reactor/blockhound/BlockingCallAdvice.java
  agent/src/main/java/reactor/blockhound/BlockingCallsByteBuddyTransformer.java
Labels: area/java-agent, type/documentation
