Repository reactor/BlockHound, pull requests merged in 2019-05, with the labels that each got.

#29 Skip `ReactorIntegration` on Reactor 3.3.x since it got a built-in one
  agent/build.gradle
  agent/src/main/java/reactor/blockhound/integration/ReactorIntegration.java
  example/build.gradle
Labels: area/spi, type/enhancement

#27 release memory allocated by JVMTI/JNI.
  native-agent/src/main/cpp/agent.cpp
Labels: area/native-agent, type/enhancement

#30 Fix link to supported_testing_frameworks.md from quick_start.md
  docs/quick_start.md
Labels: type/docs

#31 Declare an Java9 JPMS Automatic-Module-Name for agent and junit
  agent/build.gradle
  junit-platform/build.gradle
Labels: type/enhancement

#32 Return "is blocking" by default if no frames are matched
  agent/src/main/java/reactor/blockhound/integration/ReactorIntegration.java
  example/build.gradle
  native-agent/src/main/cpp/agent.cpp
Labels: area/native-agent, type/enhancement
